.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
        margin: 0 auto;
}

@media (max-width: 1024px) {
    .contact-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

